@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----------------------------------------------------*/
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0px 10px;
}

.content {
  flex: 1 1 auto;
}

.btn {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  padding: 0px 39px;
}
.btn-r {
  background-color: #fb565a;
}
.btn-g {
  background-color: #00ca74;
}
.btn-y {
  background-color: #efc84a;
}
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.hr::after {
  content: "";
  display: block;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0px 10px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0.3;
}

/* Слайдер */
.slick-slider {
  position: relative;
}

/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  justify-content: center;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
.slick-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 86px;
  left: 50%;
  right: 50%;
}
@media (max-width: 767px) {
  .slick-dots {
    bottom: 30px;
  }
}

.slick-dots li {
  margin: 0px 0px 0px 17px;
}
.slick-dots li:first-child {
  margin: 0;
}

/* Активная точка */
.slick-dots li.slick-active {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-dots li.slick-active::after {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  border: 3px solid #c1c1c1;
  border-radius: 50%;
}

/* Элемент точки */
.slick-dots li button {
  font-size: 0;
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
}

.header {
  background-color: #eee;
}
.multi-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 163px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
@media (max-width: 500px) {
  .multi-header {
    min-height: 80px;
  }
}
.multi-header__burger {
  display: none;
}
.multi-header__list {
  display: flex;
}
.multi-header__list a {
  color: #000000;
  transition: all 0.2s ease 0s;
}
.multi-header__link {
  margin: 0px 0px 0px 47px;
}
.multi-header__link:hover a {
  color: #fb565a;
}
.multi-header__link:active {
  color: #000;
  opacity: 0.3;
}
.multi-header__link:first-child {
  margin: 0;
}
.multi-header__cart {
  color: #000;
  display: flex;
  align-items: flex-end;
}
.multi-header__cart span {
  transition: all 0.2s ease 0s;
}
.multi-header__cart::before {
  content: url("../img/cart_basket_icon.png");
  margin: -3px 20px 0px 0px;
}
.multi-header__cart:hover span {
  color: #fb565a;
}
.multi-header__cart:active span {
  color: #000;
  opacity: 0.3;
}

.advantages__item {
  display: flex;
  justify-content: space-between;
}
.advantages__content {
  max-width: 380px;
  display: flex;
  flex-direction: column;
  margin: 40px 0px 80px 0px;
}
@media (max-width: 936px) {
  .advantages__content {
    max-width: 80%;
  }
}
.advantages__title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}
@media (max-width: 500px) {
  .advantages__title {
    font-size: 40px;
    line-height: 45px;
  }
}
.advantages__text {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  margin: 14px 0px 0px 0px;
  flex: 1 1 auto;
}
.advantages__link {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  height: 50px;
  background-color: #fb565a;
  padding: 0px 53px 0px 55px;
  border-radius: 2px;
  margin: 15px 0px 0px 0px;
}
.advantages__img {
  display: flex;
  align-items: flex-end;
}
@media (max-width: 936px) {
  .advantages__img {
    display: none;
  }
}
.advantages__img img {
  width: 100%;
}

@media (max-width: 761px) {
  .multi-header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 5;
    cursor: pointer;
  }
  .multi-header__burger::before, .multi-header__burger::after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .multi-header__burger::before {
    top: 0;
  }
  .multi-header__burger::after {
    bottom: 0;
  }
  .multi-header__burger span {
    position: absolute;
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    bottom: 9px;
  }

  .multi-header__menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eee;
    padding: 70px 0px 0px 10px;
    z-index: 3;
  }

  .multi-header__list {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
  }
  .multi-header__list a {
    color: #fff;
  }
  .multi-header__list li {
    margin: 0px 0px 30px 0px;
  }

  .multi-header__cart {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    margin: 280px 0px 0px 10px;
    z-index: 7;
  }
}
.best {
  margin: 80px 0px 0;
}
.best::after {
  content: "";
  margin-top: 80px;
}
.best__row {
  display: flex;
  margin: 0 -45px;
  flex-wrap: wrap;
}
@media (max-width: 482px) {
  .best__row {
    margin: 0 -30px;
  }
}
.best__item {
  flex: 0 0 33.333%;
  padding: 0 45px;
  display: flex;
}
@media (max-width: 780px) {
  .best__item {
    flex: 0 0 50%;
  }
  .best__item:nth-child(3n) {
    margin: 90px 0px 0px 0px;
  }
}
@media (max-width: 482px) {
  .best__item {
    padding: 0 30px;
  }
}
@media (max-width: 430px) {
  .best__item {
    flex: 1 1 100%;
  }
}
@media (max-width: 430px) {
  .best__item:nth-child(n+1) {
    margin: 30px 0px 0px 0px;
  }
}

.item-best {
  display: flex;
  flex-direction: column;
}
.item-best__img img {
  max-width: 100%;
}
@media (max-width: 430px) {
  .item-best__img img {
    width: 100%;
  }
}
.item-best__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 22px 0px 0px 0px;
}
.item-best__text {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  margin: 20px 0px 0px 0px;
  flex: 1 1 auto;
  max-width: 239px;
}
@media (max-width: 430px) {
  .item-best__text {
    max-width: 100%;
  }
}
.item-best__link {
  margin: 30px 0px 0px 0px;
}

.about {
  margin: 80px 0px 0px 0px;
}
.about::after {
  content: "";
  margin-top: 76px;
}
.about__row {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 750px) {
  .about__row {
    flex-wrap: wrap;
  }
}
.about__we {
  max-width: 650px;
}
.about__title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}
.about__text {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  margin: 35px 0px 0px 0px;
}
.about__list--title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin: 47px 0px 0px 0px;
}
.about__list--item {
  font-weight: 400;
  color: #283136;
  display: flex;
  align-items: center;
  margin: 36px 0px 0px 0px;
}
.about__list--item::before {
  content: "";
  display: inline-flex;
  height: 2px;
  background-color: #ff0000;
  padding: 0px 26px 0px 0px;
  margin: 0px 10px 0px 0px;
}
.about__advantages {
  margin: 0px 0px 0px 10px;
}
@media (max-width: 750px) {
  .about__advantages {
    margin: 40px 0px 0px 0px;
  }
}
.about__img {
  margin: 0px 0px 41px 0px;
}
.about__img img {
  max-width: 100%;
}
.about__advantages--text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.about__percent--row {
  display: flex;
  margin: 0 -10px;
  flex-wrap: wrap;
}
.about__percent--item {
  margin: 49px 0px 0px 0px;
  flex: 0 1 33.333%;
  padding: 0 10px;
}
.about__percent--item span:nth-child(1) {
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
  color: #000000;
}
.about__percent--item span:nth-child(2) {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  color: #283136;
  margin: 27px 0px 0px 0px;
}

.clients {
  margin: 0px 0px 80px 0px;
}
@media (max-width: 600px) {
  .clients {
    display: none;
  }
}
.clients__row {
  display: flex;
  margin: 0 calc(-96px / 2);
  margin: 62px 0px;
  flex-wrap: wrap;
}
.clients__img {
  flex: 1 1 calc(100% / 4);
  opacity: 0.2;
  padding: 0 calc(96px / 2);
  position: relative;
}
.clients__img img {
  max-width: 100%;
}
@media (max-width: 920px) {
  .clients__img {
    flex: 0 1 33.333%;
  }
  .clients__img:nth-child(4n) {
    margin: 20px 0px 0px 0px;
  }
}
.clients__img::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
}
.clients__img:nth-child(4n)::after {
  content: "";
  display: none;
}
.our-geoposition {
  position: relative;
  padding: 54px 0px;
}
.our-geoposition .container {
  display: flex;
  align-items: center;
}
.our-geoposition__item {
  max-width: 319px;
  background-color: #fff;
  padding: 54px 50px 47px 50px;
}
.our-geoposition__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
.our-geoposition__address {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  margin: 27px 0px 0px 0px;
}
.our-geoposition__tel {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  display: inline-block;
  margin: 15px 0px 0px 0px;
}
.our-geoposition__link {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fb565a;
  text-align: center;
  text-transform: uppercase;
  margin: 34px 0px 0px 0px;
}

.footer__row {
  min-height: 217px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}
@media (max-width: 860px) {
  .footer__row {
    justify-content: center;
    text-align: center;
  }
}
.footer__socials {
  display: flex;
}
.footer__social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 79px;
  height: 79px;
  background-color: #e1e1e1;
  border-radius: 50%;
  margin: 0px 15px 0px 0px;
}
.footer__social-item:last-child {
  margin: 0;
}
.footer__content {
  margin: 0px 0px 0px 30px;
}
.footer__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}
.footer__text {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}