.header {
	background-color: #eee;
	// .header__multi
	&__multi {}
}

.multi-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 163px;

	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	@media (max-width:500px){
		min-height: 80px;
	}
	// .multi-header__logo
	&__logo {}
	// .multi-header__menu
	&__menu {}
	// .multi-header__burger
	&__burger {
		display: none;
	}
	// .multi-header__list
	&__list {
		display: flex;

		a{
			color: #000000;
			transition: all 0.2s ease 0s;
		}
	}
	// .multi-header__link
	&__link {
		margin: 0px 0px 0px 47px;
		&:hover{a{color: #fb565a;}}
		&:active{color: #000;opacity: .3;}
		&:first-child{
			margin: 0;
		}
	}
	// .multi-header__cart
	&__cart {
		color: #000;
		display: flex;
		align-items: flex-end;
		span{transition: all 0.2s ease 0s;}
		&::before{
			content: url('../img/cart_basket_icon.png');
			margin: -3px 20px 0px 0px;
		}
		&:hover span{color: #fb565a;}
		&:active span{color: #000;opacity: 0.3;}
	}
}


.advantages {
	// .advantages__item
	&__item {
		display: flex;
		justify-content: space-between;
	}
	// .advantages__content
	&__content {
		max-width: 380px;
		display: flex;
		flex-direction: column;

		margin: 40px 0px 80px 0px;
		@media (max-width:936px){
			max-width: 80%;
		}
	}
	// .advantages__title
	&__title {
		font-size: 55px;
		line-height: 55px;
		font-weight: 500;
		color: #000000;
		@media (max-width:500px){
			font-size: 40px;
			line-height: 45px;
		}
	}
	// .advantages__text
	&__text {
		font-size: 16px;
		line-height: 24px;
		color: #283136;

		margin: 14px 0px 0px 0px;
		flex: 1 1 auto;
	}
	// .advantages__link
	&__link {
		font-size: 16px;
		line-height: 18px;
		font-weight: 500;
		color: #ffffff;

		display: inline-flex;
		align-items: center;
		height: 50px;
		background-color: #fb565a;
		padding: 0px 53px 0px 55px;
		border-radius: 2px;
		margin: 15px 0px 0px 0px;
	}
	// .advantages__img
	&__img {
		display: flex;
		align-items: flex-end;
		@media (max-width:936px){
			display: none;
		}
		img{
			width: 100%;
		}
	}
}


@media (max-width: 761px){
	.multi-header__burger{
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 5;
		cursor: pointer;
		&::before,
		&::after{
			content: '';
			background-color: #000;
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
		}
		&::before{
			top: 0;
		}
		&::after{
			bottom: 0;
		}
		span{
			position: absolute;
			background-color: #000;
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0px;
			bottom: 9px;
		}
	}
	.multi-header__menu{
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #eee;
		padding: 70px 0px 0px 10px;
		z-index: 3;
	}
	.multi-header__list{
		display: block;
		text-transform: uppercase;
		font-size: 14px;
		a{
			color: #fff;
		}
		li{
			margin: 0px 0px 30px 0px;
		}
	}
	.multi-header__cart{
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		margin: 280px 0px 0px 10px;
		z-index: 7;
	}
}
